# ignore python virtual environment directories
venv/
venv

# ignore environment variable files
.env/
.env

# ignore Python cache files
__pycache__/
*.py[cod]
**/__pycache__/
*.pyc

# local SQLite fallback database
*.sqlite3
*.sqlite3-journal


